---
layout: default
sections:
    projects:
        label: Projetos
        classes: 
        attr:
            hidden: 
        form: true
    customers:
        label: Clientes
        classes: 
        attr:
            hidden: 
        form: true
    users:
        label: Usuários
        classes: 
        attr:
            hidden: 
---

<section class="page-content app-section hero" id="greetings" data-text="center">

    <div class="app-section-inner">

        <div class="wrapper">

            <header class="post-header">
                <p>Copa Tecnologia</p>
                <h1>Bizz</h1>
            </header>
    
            <p>{{ site.description }}</p>
            <p>
                <button data-btn="" class="sign-in" hidden>Entrar</button>
            </p>
    
            <p class="loading">{% include svg/ripple.svg %}</p>

        </div>

    </div>

</section>

<script>
window.onload = function() {
    document.querySelector('#greetings .loading').style.opacity = 1;
};
</script>

{% for s in page.sections %}

    {% assign name = s[0] %}{% assign section = s[1] %}
    
    <section class="page-content app-section {{ section.classes }}" id="{{ name }}" {%
        for attr in section.attr %}{{ attr[0] }}="{{ attr[1] }}"{% endfor %}>
        
        <div class="app-section-inner">

            {% if section.form %}

            <div data-modal data-grid="row center">
                <div class="wrapper" data-modal-content>
                    <a href="javascript:;" data-btn="link fechar" data-text="lg">{% include svg/cancel.svg %}</a>
                    {% include forms/{{ name }}.html %}
                </div>
            </div>

            {% endif %}

            <div class="wrapper">

                <header class="app-section-header" data-grid="row center spacing">

                    <h2>{{ section.label }}</h2>

                    {% if section.form %}
                    <div data-cell="shrink">
                        <button class="open-form">Novo item</button>
                    </div>
                    {% endif %}

                </header>

                <div class="app-list"></div>

                {% include templates/{{ name }}.html %}

            </div>

        </div>

    </section>

{% endfor %}
