<nav class="nav-bar">

  <div class="wrapper">
    
    <section data-grid="row center">

      <div data-cell="">

        <a class="page-link" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/favicon.png" height="44" alt="{{ site.title }}">
        </a>

        {% for s in page.sections %}

          {% assign id = s[0] %}{% assign link = s[1] %}
          <a href="#{{ id }}" class="page-link">{{ link.label }}</a>

        {% endfor %}

      </div>

      <div data-cell="shrink">
        <span class="username"></span>
        <button data-btn="link" class="sign-out" hidden>Sair</button>
      </div>

    </section>
  
  </div>

</nav>
