<nav class="nav-bar">

  <div class="wrapper">
    
    <section data-grid="row center">

      <div data-cell="">
        <a class="site-title" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/favicon.png" height="44" alt="{{ site.title }}">
        </a>
      </div>

      <div data-cell="shrink">
        <span class="username"></span>
        <button data-btn="" class="sign-in" hidden>Entrar</button>
        <button data-btn="link" class="sign-out" hidden>Sair</button>
      </div>

    </section>
  
  </div>

</nav>
