.app-section
    display: table-row
    height: 100%

    -webkit-animation: appear .5s ease-in-out forwards
    animation: appear .5s ease-in-out forwards

    > *
        display: table-cell
        vertical-align: middle

.app-section-header
    padding: $spacing-unit / 2 0

.app-list-item
    margin-bottom: $spacing-unit / 2
    padding: $spacing-unit / 2
    background-color: $grey-color-light
    border-radius: $ui-border-radius

.loading
    opacity: 0
    -webkit-transition: .5s ease-in-out
    transition: .5s ease-in-out

@keyframes appear
    0%
        opacity: 0
    100%
        opacity: 1
