
<form action="{{ site.baseurl }}/no-js-form.html" data-action="projects">

    <header class="post-header">
        <h3>Criar novo projeto</h3>
    </header>

    <p>
        <label for="project-name">Nome:</label>
        <input name="project-name" id="project-name" type="text">
    </p>

    <p>
        <label for="project-description">Descrição:</label>
        <textarea name="project-description" id="project-description" cols="30" rows="3"></textarea>
    </p>

    <p>
        <label for="project-customer">Cliente:</label>
        <select name="project-customer" id="project-customer"></select>
    </p>

    <p>
        <button>Criar</button>
    </p>

</form>
